<div id="top">
    <div id="titlearea">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr id="projectrow">
                    <td id="projectlogo">
                        <img alt="Logo" src="logo_no_text.png" $logosize="">
                    </td>
                    <td id="projectalign">
                        <div id="projectname">EpiRootkit</div>
                        <div id="projectbrief">By STDBOOL</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>