<div id="top">
    <div id="titlearea">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr id="projectrow">
                    <td id="projectlogo">
                        <img alt="Logo" src="static/img/logo.png">
                    </td>
                    <td id="projectalign">
                        <div id="projectname">EpiRootkit</div>
                        <div id="projectbrief">By STDBOOL</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="scrolling-message">
        <div class="scroll-text">"<i>Pour ce qui est de l’interface web, nous avons choisi un thème Artisan 
            De La Qualidad. Nous avons ainsi pu mettre en avant, au cœur de ce site internet, un lien évident 
            entre audace, créativité et gourmandise. Un tel travail artisanal permet avant tout de s’insérer 
            dans la machine victime en douceur et avec une malice non dissimulée.</i>" Evann Marrel, 1er juin 2025</div>
    </div>     
</div>