<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>EpiRootkit Web Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: #1e1e1e;
        }

        .hidden {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="sidebar hidden">
        <h2>EpiRootkit</h2>
        <ul>
            {% set menu_items = [
                ('dashboard', '📊 Dashboard'),
                ('terminal', '🧠 Terminal'),
                ('shell_remote', '🛰️ Shell Distant'),
                ('upload', '📤 Upload'),
                ('download', '📥 Download'),
                ('keylogger', '⌨️ Keylogger'),
                ('webcam', '📷 Webcam')
            ] %}
            {% for endpoint, label in menu_items %}
                <li class="{% if request.path == url_for(endpoint) %}active{% endif %} {% if endpoint != 'dashboard' %}if_auth{% endif %}">
                    <a href="{{ url_for(endpoint) }}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-content hidden">
        <p>Epirootkit{{ request.path }}</p>
        {% block content %}{% endblock %}
    </div>

    <script>

        const redirectToDashboard = () => {
            window.location.replace('/dashboard');
        };
        const showMainContent = () => {
            document.querySelector('.main-content').classList.remove('hidden');
            document.querySelector('.sidebar').classList.remove('hidden');
        };
        const hideMainContent = () => {
            document.querySelector('.main-content').classList.add('hidden');
            document.querySelector('.sidebar').classList.add('hidden');
        };
        const hideAuthRequiredElements = () => {
            const ifAuthElements = document.querySelectorAll('.if_auth');
            ifAuthElements.forEach(el => el.classList.add('hidden'));
        };
        const showAuthRequiredElements = () => {
            const ifAuthElements = document.querySelectorAll('.if_auth');
            ifAuthElements.forEach(el => el.classList.remove('hidden'));
        };

        const isAuthREquiredElementsDisplayed = () => {
            const ifAuthElements = document.querySelectorAll('.if_auth');
            return Array.from(ifAuthElements).some(el => el.style.display !== 'none');
        };

        let clientInfoCache = null;

        function checkAuthentication() {
            fetch("{{ url_for('clientInfo') }}")
                .then(response => response.json())
                .then(data => {
                    const isauthenticated = data.authenticated;
                    const isDashboard = window.location.pathname === '/dashboard';

                    // if not authenticated and not on dashboard, redirect to dashboard
                    if (!isauthenticated) {
                        if (!isDashboard || clientInfoCache && isAuthREquiredElementsDisplayed()) {
                            return redirectToDashboard();
                        }
                        hideAuthRequiredElements();
                    } else {
                        showAuthRequiredElements();
                    }

                    showMainContent();

                    clientInfoCache = data;
                })
                .catch(error => {
                    console.error('Erreur lors du fetch client-info:', error);
                });
        }

        checkAuthentication();
        document.addEventListener('DOMContentLoaded', () => {
            setInterval(checkAuthentication, 1000);
        });
    </script>
</body>
</html>
