<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>EpiRootkit Web Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        if (sessionStorage.getItem('loaderShown')) {
            const style = document.createElement('style');
            style.innerHTML = `
                #loading-screen { display: none !important; }
            `;
            document.head.appendChild(style);
        }
  </script>
</head>
<body>
    <!-- LOADING SCREEN -->
    <div id="loading-screen">
        <div class="loading-content">
            {% include 'partials/loading_logo.html' %}
        </div>
    </div>
    <!-- TOP BAR -->
    {% include "partials/topbar.html" %}

    <!-- SIDEBAR -->
    {% include "partials/sidebar.html" %}

    <!-- BACKGROUND IMAGE -->
    <div class="background-image">
    </div>
    

    <!-- MAIN CONTENT -->
    <div class="main-content sidebar-open hidden">
        {% block content %}{% endblock %}
    </div>

    <!-- AUTHENTICATION SCRIPT -->
    <script>
        const toggleVisibility = (selector, show) => {
            document.querySelectorAll(selector).forEach(elt => elt.classList.toggle('hidden', !show));
        };
    
        const redirectToDashboard = () => window.location.replace('/dashboard');
    
        let clientInfoCache = null;
    
        function checkAuthentication() {
            fetch("{{ url_for('clientInfo') }}")
                .then(res => res.json())
                .then(data => {
                    const rootkit_address = data.rootkit_address;

                    if (!rootkit_address && location.pathname !== '/dashboard') {
                        redirectToDashboard();
                        return;
                    }

                    const authenticated = data.authenticated;
                    const onDashboard = location.pathname === '/dashboard';
    
                    toggleVisibility('.sidebar', true);
                    toggleVisibility('.main-content', true);
    
                    if (!authenticated) {
                        toggleVisibility('.if_auth', false);
                        const auth_elt_are_displayed = Array.from(document.querySelectorAll('.if_auth'))
                                                            .some(elt => !elt.classList.contains('hidden'));
                        if (!onDashboard || (clientInfoCache && auth_elt_are_displayed)) {
                            redirectToDashboard();
                            return;
                        }
                    } else {
                        toggleVisibility('.if_auth', true);
                    }
    
                    clientInfoCache = data;
                })
                .catch(err => console.error('Erreur client-info :', err));
        }
    
        document.addEventListener('DOMContentLoaded', () => {
            checkAuthentication();
            setInterval(checkAuthentication, 5000);
        });

    window.addEventListener('DOMContentLoaded', () => {
        const loader = document.getElementById('loading-screen');

        if (!sessionStorage.getItem('loaderShown')) {
            sessionStorage.setItem('loaderShown', 'true');
            setTimeout(() => {
                loader.style.opacity = '0';
                setTimeout(() => loader.remove(), 1000);
            }, 7000);
        } else {
            loader && loader.remove();
        }
    });
    </script>  
</body>
</html>
