{% extends "base.html" %}
{% block content %}
<h1 class="hidden-until-loaded">📊 Dashboard</h1>

<div class="dashboard-grid hidden-until-loaded" id="dashboard-main-container">
    <div class="client-status-card">
        {% include "partials/status_card.html" %}
    </div>

    <div class="sysinfo-card">
        {% include "partials/sysinfo_card.html" %}
    </div>

    <div class="shell-card">
        {% include "partials/shell_card.html" %}
    </div>

    <div class="diskusage-card">
        {% include "partials/diskusage_card.html" %}
    </div>

    <div class="cpu-ram-card">
        {% include "partials/cpu-ram-card.html" %}
    </div>

</div>

{% include "partials/connect_modal.html" %}

<script>
    const URL_CONNECT = "{{ url_for('connect_command') }}";
    const URL_KILLCOM = "{{ url_for('killcom_command') }}";
    const URL_DISCONNECT = "{{ url_for('disconnect_command') }}";
    clientInfoCache = {{ clientInfos | tojson }};
</script>
  
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
