{% extends "base.html" %}
{% block content %}
<h1>🧠 Terminal</h1>

<!-- Command Input Section -->
<div class="command-form">
    <div class="command-input-row">
        <div class="status-card command-input-col" id="left-col">
            <input 
                type="text" 
                id="commandInput" 
                placeholder="Enter a command..." 
                autofocus 
                onkeypress="if(event.key === 'Enter') handleSend()"
            >
            <p class="command-input-hint">
                Type 'help' to see available commands.<br>
                Press <em>Enter</em> to send the command.
            </p>
        </div>
        <div class="status-card command-input-col" id="right-col">
            <!-- Sending Mode Toggle -->
            <span id="send-mode-span">
                <p>Sending mode:</p>
                <div class="toggle-container">
                    <span class="toggle-label toggle-left">TCP</span>
                    <label class="switch">
                        <input 
                            type="checkbox" 
                            id="channelToggle" 
                            {% if last_channel == 'dns' %}checked{% endif %}
                        >
                        <span class="slider round"></span>
                    </label>
                    <span class="toggle-label toggle-right">DNS</span>
                    <input type="hidden" id="channelInput" name="channel" value="tcp">
                    <input type="hidden" id="selectedChannel" value="{{ last_channel or 'tcp' }}">
                </div>
            </span>
            <button type="button" onclick="handleSend()" id="send-cmd-button">Send</button>
        </div>
    </div>
    <p class="error-message hidden"></p>
</div>

<!-- JavaScript for Sending Mode Toggle -->
<script>
    document.getElementById('channelToggle').addEventListener('change', function () {
        const hiddenInput = document.getElementById('channelInput');
        hiddenInput.value = this.checked ? 'dns' : 'tcp';
    });
</script>

<!-- Command Result Section -->
<div class="status-card growFromLine" id="last-result-block">
    <h3 id="last-result-title">📩​ Result of the last command</h3>
    <div id="stds-code-block" class="terminal-response-row">
        <!-- stdout Block -->
        <div class="stdout-block">
            <h4>🟢 stdout</h4>
            <pre id="last-stdout"></pre>
        </div>
        <!-- stderr Block -->
        <div class="stderr-block">
            <h4>🔴 stderr</h4>
            <pre id="last-stderr"></pre>
        </div>
    </div>
    <div class="return-code-block">
        <pre id="last-return-code"></pre>
    </div>
</div>

<!-- Command History Section -->
<div class="status-card" id="command-history-block">
    <h3>📜 Command History</h3>
    <ul class="history-list hidden"></ul>
</div>

<!-- External JavaScript -->
<script src="{{ url_for('static', filename='js/terminal.js') }}"></script>

{% endblock %}
